{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/sid.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header>
        <nav class="navbar"><div>Lab Management System
            <ul class="mark">
               <a href="logout"><i class="material-icons">logout</i></a>
               <a href="#"><i class="material-icons">manage_accounts</i></a>
               <a href="/f_reply"><i class="material-icons">post_add</i></a></i></a>
               <a href="notification"><i class="material-icons">notifications_active</i></a>
            </ul>
       </div> </nav></header> 
        
        <div class="ma">
    <a href="marklist"><i class="material-icons">post_add</i><br>add mark</a><br>
    <a href="studentList"><i class="material-icons">groups</i><br>view student </a><br>
    <a href="student"><i class="material-icons">groups</i><br>Student</a><br>
    <a href="view_code"><i class="material-icons">code</i> code<br></a><br>
 
    <a href="taskman"><i class="material-icons">add_task</i><br>task</a><br>
    
    </div> 
</body>
</html>