{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body class=" bo">
    <table border="2"  >
        <tr>
        <th>id</th>
        <th>Name</th>
        <th>reg no</th>
        <th>department</th>
        <th>semester </th>
        <th>address</th>
        <th>dob</th>
        <th>ph no</th>
    
    
    </tr>
    {% for i in farhana %}
    <tr>
        <td>{{ forloop.counter}}</td>
        <td>{{ i.studentname}}</td>
        <td>{{i.regno}}</td>
        <td>{{i.department}}</td>
        <td>{{i.semester}}</td>
        <td>{{i.address}}</td>
        <td>{{i.dob}}</td>
        <td>{{i.phoneno}}</td>
    </tr>
    {%endfor%}
    </table>
</body>
</html>