{%  load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title> lab </title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
   

</head>

<body>
    <div>
        <form class="edit-container" action="" method="post">
    
            {% csrf_token %}
            <h1 class="hea">
                faculty details
            
            </h1>
            
    <label>
        id:
    </label>
    <input type="text" name="sid" value="{{ val.id }}" /><br>
    <label>
        Name:

    </label>
    <input type="text" name="name"  value="{{ val.name }}" /><br>
    <label>
        department:
    </label>
    <select name="department"  value="{{ val.department }}">
        <option>
            bsc computer science
        </option>
        <option>
            bca
        </option>
        <option>
            microbiology
        </option>
    </select><br>
    <label>
        subject:
    </label> 
    <select name="subject"  value="{{ val.subject }}">
        <option>
            c
        </option>
        <option>
            java
        </option>
        <option>
            php
        </option>
        <option>
            html
        </option>
        <option>
            python
        </option>
        </select><br>
    </select><br>
    <label>
        qualification:

    </label>
    <input type="text" name="qualification"  value="{{ val.qualification }}" /><br>
    <label>
        phone no
    </label>
    <input type="text" name="phoneno"  value="{{ val.phoneno }}"/><br>
    <input type="submit"value="submit" class="btn">
</form>
</div>
    


    
</body>

</html>
